[Unit]
Description=OfflineIMAP Quicksync
After=network.target

[Service]
Type=oneshot
ExecStart=/home/aikawa/dotfiles/.config/systemd/script/check-neomutt-offlineimap.sh
TimeoutStartSec=2min30s
