[Unit]
Description=OfflineIMAP All Quicksync
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/offlineimap -o -u quiet
TimeoutStartSec=4min30s
