git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
gui:
  sidePanelWidth: 0.25
  timeFormat: '2006-01-02 15:04:05'
  showIcons: true
  quitOnTopLevelReturn: true
  theme:
    selectedLineBgColor:
      - underline
    selectedRangeBgColor:
      - underline
refresher:
  refreshInterval: 3
os:
  edit: '[ -z "$NVIM" ] && (nvim -- {{filename}}) || (nvim --server "$NVIM" --remote-send "<C-\><C-N>:TermForceCloseAll<CR>:e "{{filename}}"<CR>")'
  editAtLine: '[ -z "$NVIM" ] && (nvim +{{line}} -- {{filename}}) || (nvim --server "$NVIM" --remote-send "<C-\><C-N>:TermForceCloseAll<CR>:e "{{filename}}"<CR>:{{line}}<CR>")'
  openDirInEditor: '[ -z "$NVIM" ] && (nvim -- {{dir}}) || (nvim --server "$NVIM" --remote-send "<C-\><C-N>:TermForceCloseAll<CR>:Oil {{dir}}<CR>"'

# promptToReturnFromSubprocess: false
